.wrapper{
  margin: 3rem 2rem;
}

.name{
  text-align: center;
}

.infoWrapper{
  display: flex;
  padding: 0 4rem;
  margin-bottom: 3rem;
  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  color: rgb(var(--main-color));
  font-size: 2rem;
}
.icon{
  width: 100%;
  max-width: 20rem;
  color: rgba(var(--main-color), .6)
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.title{
  font-size: 3rem;
  font-weight: 600;
}

.rating{
  display: flex;
  gap: 1rem;
  svg{
    width: 1.5rem;
    opacity: .6;
  }
}

.song{
  display: flex;
  box-shadow: 2px 2px 4px rgba(var(--link-color), 0),
  1px 1px 2px rgba(var(--link-color), 0);
  transition: all .3s;
  align-items: center;
  padding: 0 1rem;
  &:hover{
    box-shadow: 2px 2px 4px rgba(var(--link-color), .15),
    1px 1px 2px rgba(var(--link-color), .15);
    .songEdit{
      opacity: .6;
    }
  }
  span{
    flex-grow: 1;
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

.songIcon{
  width: 2rem;
  margin-right: 2rem;
}

.songEdit{
  cursor: pointer;
  width: 2rem;
  padding: 1rem;
  box-sizing: content-box;
  opacity: 0;
  transition: all .2s;
  color: rgba(var(--main-color), .6);
  &:hover{
    color: rgba(var(--main-color), 1);
  }
}

.createSong{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 3rem;
  transition: all .3s;
  margin: 0 3rem;
  font-size: 2.5rem;
  svg{
    width: 3rem;
    padding: 2rem;
    box-sizing: content-box;
    cursor: pointer;
  }
}
//                xxs: 360px,
//                xs: 540px,
//                sm: 768px,
//                md: 1024px,
//                lg: 1200px,
//                xl: 1440px,
//                xxl: 1920px,