.wrapper{
  margin: 3rem 2rem;
}

.name{
  text-align: center;
}

.infoWrapper{
  display: flex;
  padding: 0 4rem;
  margin-bottom: 3rem;
  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  color: rgb(var(--main-color));
  font-size: 2rem;
}
.icon{
  width: 100%;
  max-width: 20rem;
  color: rgba(var(--main-color), .6)
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.title{
  font-size: 3rem;
  font-weight: 600;
}

.rating{
  display: flex;
  gap: 1rem;
  svg{
    width: 1.5rem;
    opacity: .6;
  }
}


.createSong{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 3rem;
  transition: all .3s;
  margin: 0 3rem;
  font-size: 2.5rem;
  svg{
    width: 3rem;
    padding: 2rem;
    box-sizing: content-box;
    cursor: pointer;
  }
}