.wrapper{
  min-width: 60rem;
  max-width: 96vw;
}

.title{
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 2rem;
  label{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
}

