.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input{
  border: none;
  border-bottom: 1px solid rgba(var(--main-color), .6);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  letter-spacing: .4px;
  width: 100%;
  background: transparent;
}
.input::placeholder{
  color: rgba(var(--main-color), .6);
  transition: all .2s;
}
.input:focus::placeholder{
  color: rgba(var(--main-color), 0);

}
.formSubmit {
  display: block;
  margin: 2rem auto;
  outline: rgba(var(--main-color), .8);
  border-bottom: 4px solid rgba(var(--link-color), .15);
  border-right: 2px solid rgba(var(--link-color), .1);
  border-left: 6px solid transparent;
  border-top: 2px solid transparent;
  box-shadow: 2px 4px 6px rgba(var(--link-color), .25),
  inset 1px 1px 2px rgba(232, 230, 230, 0.6);
  min-width: 10rem;
  padding: .5rem 1rem;
  transition: all .2s;
}
.formSubmit:hover{
   box-shadow: 2px 4px 6px rgba(var(--link-color), .15),
   inset 1px 1px 2px rgba(232, 230, 230, 0.6);
 }
.formSubmit:active{
   box-shadow: 1px 2px 3px rgba(var(--link-color), .05),
   inset 1px 1px 2px rgba(232, 230, 230, 0.6);
}
